<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vapor Game Store</title>
    <link rel="icon" type="image/x-icon" href="/img/logo_alt.png">

    
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <header>
        <img src="/img/logo.png" width="60px" height="60px">
        <h1>Vapor Game Store</h1>
    </header>
    <nav>
        [ <a href="/"><b>Home</b></a> |
        <a href="customers.hbs"><b>Customers</b></a> |
        <a href="orders.hbs"><b>Orders</b></a> |
        <a href="studios.hbs"><b>Studios</b></a> |
        <a href="games.hbs"><b>Games</b></a> |
        <a href="games_genres.hbs"><b>Games Genres</b></a> |
        <a href="genres.hbs"><b>Genres</b></a> ]
    </nav>
    {{{body}}}
    <footer>
        <p><em>&copy; Colton Melhase, Kevin Rossel</em></p>
    </footer>
</body>
</html>