body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 238, 217);
}

header {
    display: flex;
}
header h1 {
    margin-left: 10px;
}

nav {
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}
nav a:link, nav a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border: solid 1px black;
}
tr:nth-child(even) {
    background-color: bisque;
}
th {
    background-color: rgb(233, 203, 112);
    border: solid 1px black;
    width:150px;
}
td {
    border: solid 1px black;
    padding: 10px;
    height: 30px;
}

footer {
    padding-left: 10px;
    height: 30px;
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}